@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  scroll-behavior: smooth;
}

@layer utilities {
  .writing-vertical {
    writing-mode: vertical-rl;
    transform: rotate(180deg); /* Isso ajusta a direção do texto para ler de cima para baixo */
  }
}
